/water-detect-backend/.venv/
/water-detect-backend/.idea/
/yoloDetectProject/.idea/
/water-detect-backend/media/
media/
__pycache__/
*.mp4
*.avi
/yoloDetectProject/service/runs
/yoloDetectProject/service/test-data
/yoloDetectProject/detect-model/water-2/
/yoloDetectProject/detect-model/train4/